<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.wz.oa.auth.mapper.AuthorizationMapper">
    
    <resultMap type="com.wz.oa.auth.model.Authorization" id="AuthorizationResultMap">
    	<result column="id" property="id" /> 
    	<result column="employee_id" property="employeeId" />
    	<result column="role_id" property="roleId" />  
    </resultMap>
    
    <insert id="authorize" parameterType="com.wz.oa.auth.model.Authorization"
    		useGeneratedKeys="true" keyProperty="id">  
    	INSERT INTO authorization(employee_id,role_id) VALUES(#{employeeId},#{roleId})
    </insert>
    
    <delete id="unauthorize" parameterType="long">
    	DELETE FROM authorization WHERE id=#{id}
    </delete>
    
    <select id="findById" parameterType="long" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE id=#{id}  
    </select>  
    
</mapper>  