<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.wz.oa.organization.mapper.EmployeeMapper">
    
    <insert id="addEmployee" parameterType="com.wz.oa.organization.model.Employee">
    	INSERT INTO employee(name,age) VALUES(#{name},#{age})
    </insert>
    
    <select id="findEmployeeById" parameterType="int" resultType="com.wz.oa.organization.model.Employee">
        SELECT * FROM employee WHERE ID=#{id}  
    </select>  
    
</mapper>  